<style>

</style>
 
 
 
 <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
{% assign enabled_payment_types = 'visa,master,american_express,jcb,shopify_pay,paypal,apple_pay,google_pay,discover,diners_club' | remove: ' ' | split: ',' %}
{% for type in enabled_payment_types %}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
    <div class="footer_logo" ><a href=" https://www.japan.travel/en/" target="_blank"><img src="//cdn.shopify.com/s/files/1/0630/3157/4748/files/Untitled-1_copy.jpg?v=1661062346&width=400"></a></div>
          </div> 
         